<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98159203680-lj22ugct2p6mgq5v1acjaptkcq47pjma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98159203680-lj22ugct2p6mgq5v1acjaptkcq47pjma</string>
	<key>API_KEY</key>
	<string>AIzaSyCPVUrIbFNskbl4i2J4xZfgtcIx2bCjArk</string>
	<key>GCM_SENDER_ID</key>
	<string>98159203680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XCode.LogIn-Birds</string>
	<key>PROJECT_ID</key>
	<string>swiftui-auth-d66e9</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-auth-d66e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98159203680:ios:c4fb22076b8369a02eba05</string>
</dict>
</plist>